nav .navbar-brand
{
    font-size: xx-large;
    color: #38ff6d;
}


.colored-nav {
    background-color: #c9c9c9;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #ffffff;
}

.navbar-nav .nav-item {
    border-right: 1px solid #000000;
}

.navbar-nav .nav-item:last-child {
    border-right: none;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
}

.top_right {
    position: absolute;
    top: 100px;
    right: 15px;
}

.page-header {
    text-align: center;
    text-shadow: 1px 1px 2px #ffffff;
    font-size: 5vw;
}

.centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


.btn-primary {
    background-color: lightgray;
    color: #000000;
    border: none;
}

.btn-primary:hover {
    background-color: gray;
    color: white;
}

img {
    border: 5px solid black;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: #EDE4E3;
    margin: 0;
    padding: 0;
}

strong {
    text-align: justify;
    display: inline-block;
}

.slideshow {
    margin: 0 auto;
    position: relative;
}

.hidden {
    display: none;
}

.form-group label {
    text-align: left;
}
