{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1 class="page-header">About Me</h1>
    <img alt="picture of me" src="/static/me.PNG" class="centered-img">
    <br>
    <div class="text-center">
        <strong>Hello, my name is Austin Lancaster. My background is in chemical engineering, but I am working on expanding my knowledge in the computer science field.</strong>
    </div>
    <br>
    <div class="text-center">
        <button class="btn btn-primary" onclick="toggleVisibility()">My Resume  <i id="eye" class="fas fa-eye"></i></button>
    </div>
    <div class="text-center">
        <embed id="resume" class="hidden" src="/static/resume.pdf" type="application/pdf" width="80%" height="1000px"/>
    </div>
    <script>
        function toggleVisibility() {
            var element = document.getElementById("resume");
            var icon = document.getElementById("eye");
            if (element.classList.contains("hidden")) {
                element.classList.remove("hidden");
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                element.classList.add("hidden");
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>
{% endblock %}
