{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="page-header">Welcome</h1>
    <h1>Thank you for visiting my webpage.  Please feel free to look around!</h1>
    <div>
        <p>If you would like, you can sign the page below</p>
        <form action="/" method="post">
            <input type="text" name="signature" autofill="false">
            <input class="btn btn-primary" type="submit">
        </form>
    </div>
    <div id="scrollingList" style="height: 200px; overflow-y: hidden; pointer-events: none;">
        <div id="innerList">
            {% for item in data %}
                <div>{{ item[0] }}. {{ item[1] }} - {{ item[2] }}</div>

            {% endfor %}
        </div>
    </div>
    <script>
        var scrollingList = document.getElementById('scrollingList');
        var innerList = document.getElementById('innerList');
        var listItemHeight = innerList.firstElementChild.clientHeight;
        var totalHeight = innerList.clientHeight;

        var cloneList = innerList.cloneNode(true);
        scrollingList.appendChild(cloneList);

        function scrollList() {
            if (scrollingList.scrollTop >= totalHeight) {
                scrollingList.scrollTop -= totalHeight;
                innerList.style.display = 'none';
                cloneList.style.display = 'block';
            } else {
                scrollingList.scrollTop += 1;
            }
        }

        if (totalHeight > scrollingList.clientHeight) {
            var scrollInterval = setInterval(scrollList, 50);
        } else {
            cloneList.style.display = 'none';
        }
    </script>
{% endblock %}
